@import '../../../styles/mixins';

.container {
  
  // padding-left: -80px;
  // padding-right: -10px;
  
}

.pages {
  // background-color: red;
  margin-bottom: 30px;
  padding: 0 10px 0 10px;
  // padding-left: 10px;
  // padding-right: 100px;
  // border-right: 5px solid cyan;
  // display: flex;
  // justify-content:space-between;
  // flex:1;
  // flex:1;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // min-width:50%;
  width: 50%;
  @include tablet(){
    min-width:100%;
  }

  h3 {
    // background-color: purple;
  }

}



.card{
  width: 100%;
  // background-color: pink;
  // margin: 24px 40px 32px 0;
  // padding: 10px 0 32px 0px;
  // padding-right: 30px;
  border-radius: 24px;
  box-shadow: 0 0 16px 0 rgba(3, 53, 88, 0.16);
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: purple;
  padding-left: -30px;
  position: relative;
  margin-bottom: 24px;

  .wrapIcon{
    height:60px;
    width: 60px;
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .wrapFree {
    width: 80px;
    height: 32px;
    margin: 16px 0 40px 4px;
    padding: 7px 21px 6px;
    background-color: #35ce54;
    position: absolute;
    left: auto !important;
    right: 0;
    top:0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;

    h6 {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #fff;
    }
  }

}

.title {
  // background-color: grey;
  h3 {
    margin: 24px 4px 16px 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #032740;
  }
}

.desc {
  display: flex;
  align-items: center;
  margin-bottom: 1rem!important;

  .soal {
    border: 1px solid grey;   
    padding: 7px 14px 0;
    margin-right: 16px;
    border-radius: 6px !important;

    h6 {
      // background-color: yellow;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0px;
      color: #000;
    }
  }
  
  .totalTime {
    border: 1px solid grey;   
    padding: 7px 14px 0;
    margin-right: 16px;
    border-radius: 6px !important;
    
    h6 {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0px;
      color: #000;
    }
  }
}

.time {
  // background-color: yellow;
  display: flex;
  margin-bottom: 2.75rem;

  @include tablet(){
    // flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .daftar {
    border: 1px solid grey;   
    padding: 5px 14px 0 10px;
    margin-right: 16px;
    border-radius: 6px !important;
    display: flex;
    // background-color:red;

    &:hover {
      background-color: #f2f2f2;
      
    }

    @include tablet(){
     margin-bottom: 15px;
    }
    

    span {
      font-weight: bold;
    }
    h6 {
      letter-spacing: 0px;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      color: #000;
      
    }
  }

  .ujian {
    border: 1px solid grey;   
    padding: 5px 14px 0;
    margin-right: 16px;
    border-radius: 6px !important;
    // background-color:pink;

    display: flex;
    &:hover {
      background-color: #f2f2f2;
      
    }

    span {
      font-weight: bold;
    }

    h6 {
      letter-spacing: 0px;
      font-family: Montserrat;
      font-size: 10px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      color: #000;
    }
  }

  
}

.countdown{
 
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 1.5rem!important;
 
 .timer{
  background-color: #f9ae1b;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
   span {
      font-family: Montserrat;
     font-size: 18px;
     font-weight: 700;
     color: white;
   }
 }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;

  .preview {
    flex: 1;
    margin-right: 10px;
    .btnPreview {
      // margin: 0px 10px 0 0;
      // padding: 15px 122px 14px;
      width: 100%;
      border-radius: 27.5px;
      border: solid 1px #f9ae1b;
      background-color: transparent;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #f9ae1b;

      &:hover {
        background-color: #f9ae1b;
        color: #fff;
      }

    }
  }

  .dropdown{
    flex:1;

    .btnDropDown{
      width: 100%;
      border-radius: 27.5px;
      border: solid 1px #f9ae1b;
      background-color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #f9ae1b;
    }

    .btnDafatarTO{
      width: 100%;
      border-radius: 27.5px;
      background-color: #35ce54;
      border: none;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0px;
      color: #fff;
    }
  }
}

.btnIkutLagi {
  width: 100%;
  border-radius:10px;
}