@import '../../../styles/mixins';

.pages {
  width: 50%;
  padding: 0 10px 0 10px;
  @include tablet(){
    min-width:100%;
  }
  margin-bottom: 1rem;
}

.card {
  width: 100%;
  box-shadow: 0 1px 17px 5px rgb(24 28 33 / 10%);
  

  .container {
    display: flex;
    flex-direction:column;


    .title {
      margin-bottom: 1rem;

      a {
        font-family: Montserrat;
        color: #5b88f2;
        background-color: transparent;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.1;
      }

    }

    .time {
      display: flex;
      margin-bottom: 1rem;

      .wrapperDesc {
        
        display: flex;
        align-items: center;
        margin-right: 20px;

        span {
          margin-left: 5px;
          color: rgba(24,28,33,.9)!important;
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .tag {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }

    .desc {
      p {
        max-width: 100%;
      }
    }

    .btnWraper {
      display: flex;

      .btn {
        margin-right: 10px;

        .preview {
          display: flex;
          align-items: center;
          border-radius: 5px;

          span {
            margin-left:5px;
            font-family: Montserrat;
            color: #fff;
            background-color: transparent;
            font-size: 14px;
            font-weight: normal;
          }
        }

        .lihat {
          font-family: Montserrat;
          color: #fff;
          
          font-size: 14px;
          font-weight: normal;

          background-color: #02bc77;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}