@import '../styles/mixins';

.pages {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  

  @include tablet(){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  margin-top: 24px;
  padding: 32px 62px 71px 40px;
  border-radius: 24px;
  border: solid 1px #dcdcdc;
  background-color: #fff;


  @include tablet(){
    padding: 32px 10px 50px 10px;
  }

  @include landscapeTablet() {
    padding-left: 10px;  
    padding-right: 0px;  
    
  }

  h6 {
    margin: 0 0px 32px 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

    @include tablet(){
      margin: 0 0px 32px 0;
      padding-left: 10px;
    }

  }
  .filter {
    
    display: flex;

    @include tablet(){
      padding-left: 0px;
    }

    @include landscapeTablet() {
      padding-left: 0px;  
      padding-right: 0px;  
      
    }

    

    .tabBarStyle {
      color: #8c8e90;
      font-weight: 600;
      font-family: Montserrat;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: 18px;
      width: 100%;


      @include landscapeTablet() {
        padding-left: 0px;  
        padding-right: 0px;  
        // background-color:red;
      }

      .content2 {
        // background-color: red;
        width: 100%;
        min-height: 50vh;
        
      }


      .content3 {
        
        min-height: 50vh;
        display: flex;
        flex-direction: column;


        .alertRanking {
          display: flex;
          
          @include tablet(){
           flex-direction:column;
          }

          @include landscapeTablet() {
            flex-direction:column;
          }
          

          .containerPie{
            flex:1;
            // background-color:pink;
            margin-right: 20px;
            border-radius: 20px;

            @include tablet() {
              margin-bottom: 1rem;
              margin-right: 0px;
            }

            @include landscapeTablet() {
              margin-right: 0px;
              margin-bottom: 1rem;
            }

            .chartPie {
              .detailRank {
                
                // width: 50%;
                flex:1;
                display: flex;
                flex-direction: column;
                // background-color:yellow;
               

                .wrapperRank {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 1rem;
                  span {
                    font-size: 18px;
                    font-family: Montserrat;
                    font-weight: 600;
                    color: #4e5155;

                    @include tablet() {
                      font-size: 16px;
                    }
                  }

                  .nilaiKamu {
                    background-color: #3FA9F5;
                    font-size: 24px;
                    font-family: Montserrat;
                    font-weight: 600;
                    // width: 141px;
                    width: 97px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    color: #fff;

                    @include tablet() {
                      // width: 60px;
                      font-size: 16px;
                    }
                  }

                  .nilaiMax {
                    background-color: #F9AE1B;
                    font-size: 24px;
                    font-family: Montserrat;
                    font-weight: 600;
                    width: 97px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    color: #fff;

                    @include tablet() {
                      font-size: 16px;
                    }
                  }
                }
                
              }

              .chartPieWrapper {
                flex:2;
                display: flex;
                flex-direction: column;
                


               
              }
            }
          }


          .chartBar {
            border-radius: 20px;
            flex:1;
            // background-color:pink;
            margin-left: 0px;

            .chartPie {
              display: flex;
              flex-direction: column;

              .detailRank {
                
                flex:1;
                margin-bottom: 0.8rem;
  
                .wrapperRank {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 1rem;

                  @include tablet(){
                    margin-bottom: 0px;
                  }

                  .nilaiAverage {
                    color: #3FA9F5;
                    font-size: 24px;
                  }

                  .value {
                    color: #4e5155;
                    font-size: 24px;
                  }

                  span {
                    font-size: 18px;
                    font-family: Montserrat;
                    font-weight: 600;
                    color: #4e5155;
                  }
  
                  .nilaiKamu {
                    background-color: #3FA9F5;
                    font-size: 32px;
                    font-family: Montserrat;
                    font-weight: 600;
                    width: 141px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    color: #fff;
                  }
  
                  .nilaiMax {
                    background-color: #F9AE1B;
                    font-size: 24px;
                    font-family: Montserrat;
                    font-weight: 600;
                    width: 97px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 6px;
                    color: #fff;
                  }
                }
  
              
  
              }
              .chartPieWrapper {
                // flex:1;
                // margin-top: 0.6rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                // align-items: flex-end;
                // background-color: red;
                height: 20vh;

                @include tablet(){
                  margin-top: 0px;
                }

                .barRanked {
                  height: 30px;
                  width: 100%;
                  background-color: #F9AE1B;
                  margin-bottom: 1rem;
                  padding-top: 3px;
                  padding-bottom: 3px;

                  display: flex;
                  justify-content: space-between;


                  .wrapperTooltipJP {
                    // background-color:pink;
                    flex:18;
                    position: relative;
                    display: inline-block;
                    
                    @include tablet(){
                      flex:10;
                    }

                    @include ipad() {
                      flex:17;
                    }
                  }

                  

                  .wrapperTooltipJP .tooltipValue {
                    visibility: hidden;
                    width: 120px;
                    background-color: #555;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 125%;
                    left: 50%;
                    margin-left: -60px;
                    opacity: 0;
                    transition: opacity 0.3s;
                  }

                  .wrapperTooltipJP .tooltipValue::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                  }

                  .wrapperTooltipJP:hover .tooltipValue {
                    visibility: visible;
                    opacity: 1;
                  }


                  .wrapperTooltipRank {
                    background-color:#fff;
                    flex:1;
                    border-radius: 50%;
                    border: 1px solid #3FA9F5;
                    transition: transform .2s; /* Animation */
                    position: relative;
                    display: inline-block;

                    &:hover {
                      transform: scale(1.3);
                    }
                  }

                  .wrapperTooltipRank .tooltipValueRank {
                    visibility: hidden;
                    width: 120px;
                    background-color: #555;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 125%;
                    left: 50%;
                    margin-left: -60px;
                    opacity: 0;
                    transition: opacity 0.3s;
                  }

                  .wrapperTooltipRank .tooltipValueRank::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                  }

                  .wrapperTooltipRank:hover .tooltipValueRank {
                    visibility: visible;
                    opacity: 1;
                    
                  }

                  


                }
                
                

                .textRanked {
                  display: flex;
                  justify-content: space-between;

                  font-weight: 600;
                  font-size: 13px;
                  color: #4e5155;
                }
              }
            }
          }
        }
      }
    }


    .tabEvent {
    
    padding-top: 30px;
    padding-left: 20px;  
    padding-right: 20px;  

    @include tablet(){
      padding-left: 0px;  
      padding-right: 0px;  
    }

    @include landscapeTablet() {
      padding-left: 0px;  
      padding-right: 0px;  
    }
    
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // min-height: 100vh;
    

    @include landscapeTablet() {
      align-items:center;
      justify-content: center;
      
    }

    


    .alert {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      @include tablet(){
        flex-direction: column;
      }

      span {
        margin-bottom: 1rem;
        margin-top: 2rem;

        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        color: #4e5155;
      }
    }

    .btnSimulasi {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;

      .btn {
        background-color: #d9534f;
        border: none;
        border-radius: 27px;
        height: 53px;
        width: 200px;


        font-family: Montserrat;
        font-size: 1rem;
        font-weight: 700;
      }
    }

    .contentCard {
      width: 100%;

      .contentCardAnt {
        .top {
          display: flex;
          justify-content: space-between;
         
        }

        .chart {
          // width: 100%;
          margin-left: -30px;
          // background-color: pink;
          margin-top: 1rem;

         

          .chartData {
            width: 100%;
          }
        }
      }

      .table {
        margin-top: 1rem;
        width: 100%;

        .keterangan {
          margin-bottom: 4rem;

          h3{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
          }

          .colorText {
            padding-left: 2rem;
            ul {
              li {
                font-size: 14.30px;
                font-weight: normal;
                font-family: Montserrat;
                color:#000;
              }
              .hijau {
                font-family: Montserrat;
                font-size: 14.30px;
                font-weight: 700;
                color: #02bc77;
              }
              .orange {
                font-family: Montserrat;
                font-size: 14.30px;
                font-weight: 700;
                color: #ffd950;
              }
              .merah {
                font-family: Montserrat;
                font-size: 14.30px;
                font-weight: 700;
                color: #d9534f;
              }
            }
          }
        }
        
      }

     
    }
  }

  
}


// .barRanked {
//   height: 30px;
//   width: 100%;
//   background-color: #F9AE1B;
//   margin-bottom: 1rem;


//   position: relative;
//   display: inline-block;
// }

// .barRanked .tooltipValue {
//   visibility: hidden;
//   width: 120px;
//   background-color: #555;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;
//   position: absolute;
//   z-index: 1;
//   bottom: 125%;
//   left: 50%;
//   margin-left: -60px;
//   opacity: 0;
//   transition: opacity 0.3s;
// }


// .barRanked .tooltipValue::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }

// .barRanked:hover .tooltipValue {
//   visibility: visible;
//   opacity: 1;
// }

.btnDropDown {
  // background-color:red;
  width: 100%;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .rata2 {
   
    .btnRata2 {
      display: flex;
      justify-content:center;
      align-items: center;
      background-color: transparent;
      border: 1px solid #EAEAEAEA;
      border-radius: 4px;
      color:#000;
      font-size: 12px;
      font-weight: 600;

    }
  }

  .progStudi {
    margin-left: 1rem;
    .btnRata2 {
      display: flex;
      justify-content:center;
      align-items: center;
      background-color: transparent;
      border: 1px solid #EAEAEAEA;
      border-radius: 4px;
      color:#000;
      font-size: 12px;
      font-weight: 600;

    }
  }
}