@import '../styles/mixins';

.pages {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;

  @include tablet(){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  margin-top: 24px;
  padding: 32px 40px 62px 40px;
  border-radius: 24px;
  border: solid 1px #dcdcdc;
  background-color: #fff;

  @include tablet(){
    // padding: 32px 10px 50px 10px;
  }

  @include landscapeTablet() {
    padding-left: 10px;  
    padding-right: 10px;  
    
  }


  .content {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    width: 100%;
    // background-color: greenyellow;

    @include tablet(){
      min-height: 70vh;
    }

    .tabBarStyle {
      color: #8c8e90;
      font-weight: 600;
      font-family: Montserrat;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: 18px;
      // background-color: pink;
      width: 100%;


      @include landscapeTablet() {
        padding-left: 0px;  
        padding-right: 0px;  
        // background-color:red;
      }

      .tabEvent {
    
        padding-top: 30px;
        padding-left: 20px;  
        padding-right: 20px;  
    
        @include tablet(){
          padding-left: 0px;  
          padding-right: 0px;  
        }
    
        @include landscapeTablet() {
          padding-left: 0px;  
          padding-right: 0px;  
        }
        
        }

      
    }

  }

  
}
