@import 'mixins';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ant-carousel {
  /* background-color: pink; */
  // width: 70%;
  width: 100%;
  margin-left: 1rem;

  @include tablet(){
    margin-left: 0;
    width: 100%;
  }
}

.ant-tabs-ink-bar {
  height: 5px;
  background: #f9ae1b !important;
}


.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000 !important; 
  // color: #363636 !important; 
  // font-weight: 500;
}

.ant-tabs-tab .ant-tabs-tab-btn:hover {
  color: #8c8e90;
}

.ant-tabs-tab:hover{
  color: #8c8e90;
}

