@import '../styles/mixins';

.pages {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;
  

  @include tablet(){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  margin-top: 24px;
  padding: 32px 62px 71px 40px;
  border-radius: 24px;
  border: solid 1px #dcdcdc;
  background-color: #fff;


  @include tablet(){
    padding: 32px 10px 50px 10px;
  }

  @include landscapeTablet() {
    padding-left: 10px;  
    padding-right: 0px;  
    
  }

  h6 {
    margin: 0 0px 32px 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;

    @include tablet(){
      margin: 0 0px 32px 0;
      padding-left: 10px;
    }

  }
  .filter {
    
    display: flex;

    @include tablet(){
      padding-left: 0px;
    }

    @include landscapeTablet() {
      padding-left: 0px;  
      padding-right: 0px;  
      
    }

    

    .tabBarStyle {
      color: #8c8e90;
      font-weight: 600;
      font-family: Montserrat;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      font-size: 18px;
      width: 100%;


      @include landscapeTablet() {
        padding-left: 0px;  
        padding-right: 0px;  
        // background-color:red;
      }

      .content2 {
        // background-color: red;
        width: 100%;
        min-height: 50vh;
        
      }


      .content3 {
        
        min-height: 50vh;
        display: flex;
        flex-direction: column;


        .alertRanking {
          display: flex;
          flex-direction:column;

          .tableKeterangan {

            table, th, td {
              border: 1px solid #EEEEEE;
              border-collapse: collapse;
              border-spacing: 0;
              padding: 10px;
              // width: 100%; 
            }
    
            
            thead tr th {
              // background-color:#28C3D7;
              // padding: 20px;
              font-family: Montserrat;
              font-size: 14px;
              font-weight: normal;
              // color: #fff;
              color: #4E5155;
            }
    
            tbody tr td {
              
              // padding: 10px;
              font-family: Montserrat;
              font-size: 14px;
              font-weight: normal;
              color: #4E5155;
            }
    
            tr,td {
              width: 10%;
              padding: 10px;
              text-align: center;
            }

            .textLeft {
              text-align: left;
            }
    
          }

          .searchBox {
            margin-top: 1.5rem;
            margin-bottom: 2.5rem;
          }
        }
      }
    }


    .tabEvent {
    
    padding-top: 30px;
    padding-left: 20px;  
    padding-right: 20px;  

    @include tablet(){
      padding-left: 0px;  
      padding-right: 0px;  
    }

    @include landscapeTablet() {
      padding-left: 0px;  
      padding-right: 0px;  
    }
    
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // min-height: 100vh;
    

    @include landscapeTablet() {
      align-items:center;
      justify-content: center;
      
    }

    


    .alert {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      @include tablet(){
        flex-direction: column;
      }

      span {
        margin-bottom: 1rem;
        margin-top: 2rem;

        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        color: #4e5155;
      }
    }

    .btnSimulasi {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;

      .btn {
        background-color: #d9534f;
        border: none;
        border-radius: 27px;
        height: 53px;
        width: 200px;


        font-family: Montserrat;
        font-size: 1rem;
        font-weight: 700;
      }
    }

    .contentCard {
      width: 100%;

      h4 {
        font-size: 24px;
        font-weight: 600;
        font-family: Montserrat;
        color: #4E5155;
        margin-top: 1rem;
      }

      .contentCardAnt {
        .top {
          display: flex;
          justify-content: space-between;
  
          .btnDropDown {
            background-color: transparent;
            border: 1px solid #35ce54;
            color: #35ce54;
            display: flex;
            align-items: center;
            
          }
        }

        .chart {
          // width: 100%;
          margin-left: -30px;
          // background-color: pink;
          margin-top: 1rem;

         

          .chartData {
            width: 100%;
          }
        }
      }

      .table {
        margin-top: 1rem;
        width: 100%;

        .keterangan {
          margin-bottom: 4rem;

          h3{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
          }

          .colorText {
            padding-left: 2rem;
            ul {
              li {
                font-size: 14.30px;
                font-weight: normal;
                font-family: Montserrat;
                color:#000;
              }
              .hijau {
                font-family: Montserrat;
                font-size: 14.30px;
                font-weight: 700;
                color: #02bc77;
              }
              .orange {
                font-family: Montserrat;
                font-size: 14.30px;
                font-weight: 700;
                color: #ffd950;
              }
              .merah {
                font-family: Montserrat;
                font-size: 14.30px;
                font-weight: 700;
                color: #d9534f;
              }
            }
          }
        }
        
      }

      

    
    }
  }

  
}

