@import '../styles/mixins';

.pages {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 24px;

  @include tablet(){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  margin-top: 24px;
  padding: 32px 40px 62px 40px;
  border-radius: 24px;
  border: solid 1px #dcdcdc;
  background-color: #fff;

  @include tablet(){
    // padding: 32px 10px 50px 10px;
  }

  @include landscapeTablet() {
    padding-left: 10px;  
    padding-right: 10px;  
    
  }


  .content {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    width: 100%;
    // background-color: greenyellow;

    @include tablet(){
      min-height: 70vh;
    }

    .history {
      .head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        @include tablet(){
          flex-direction: column;
          // align-items: flex-end;
        }

        h3 {
          font-size: 25px;
          font-family: Montserrat;
          font-weight: 500;
          color: #4E5155;
          
        }

        button {
          background-color:#02bc77;
          border: none;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          border-radius: 4px;
          height:38px;

          @include tablet(){
            width: 50%;
            align-self: flex-end;
          }
        }
      }

      .tableHistory {
        overflow-x: auto;
        width: 100%;
        margin-bottom: 1rem;

        .goToPayment {
          background-color: #02bc77;
          height: 26px;
          padding: 3px 11px 3px 11px;

          color: #FFFFFF;
          font-family: Montserrat;
          font-size: 12px;
          border-radius: 4px;
        }

        table, th, td {
          border: 1px solid #EEEEEE;
          border-collapse: collapse;
          border-spacing: 0;
          border-left: none;
          border-right: none;
          padding: 10px;
          // width: 100%; 
        }

        
        thead tr th {
          // background-color:#28C3D7;
          // padding: 20px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          // color: #fff;
          color: #4E5155;
        }

        tbody tr td {
          
          // padding: 10px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          color: #4E5155;
        }

        tr,td {
          width: 10%;
          padding: 10px;
          text-align: center;
        }

        

        
      }
    }

    .codePrime {
      .head {
        h5 {
          font-size: 25px;
          font-weight: 500;
          font-family: Montserrat;
          color: #4E5155;
        }
      }

      .tableCode {
        overflow-x: auto;
        margin-bottom: 1rem;

        .goToPayment {
          background-color: #02bc77;
          height: 26px;
          padding: 3px 11px 3px 11px;

          color: #FFFFFF;
          font-family: Montserrat;
          font-size: 12px;
          border-radius: 4px;
        }

        table, th, td {
          border: 1px solid #EEEEEE;
          border-collapse: collapse;
          border-spacing: 0;
          border-left: none;
          border-right: none;
          padding: 10px;
          // width: 100%; 
        }

        
        thead tr th {
          // background-color:#28C3D7;
          // padding: 20px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          // color: #fff;
          color: #4E5155;
        }

        tbody tr td {
          
          // padding: 10px;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: normal;
          color: #4E5155;
        }

        tr,td {
          width: 10%;
          padding: 10px;
          text-align: center;
        }

        
      }
    }

  }

  
}


.modals {
  
  margin-top: 2rem;

  .title {
    text-align: center;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .text {
    max-width: 80%;
    font-size: 17px;
    font-weight: 700;
    font-family: Montserrat;
    color: #4E5155;

      span {
        font-weight: normal;
        // max-width: 80%;
        
        
      }
    }

  }

  .bodyPayment {
    display: flex;
    flex-direction: column;
    // background-color: red;

    .counter {
      display: flex;
      flex-direction: row;
      // background-color: pink;
      align-items: center;
      margin-bottom: 1rem;

      span {
        flex:1;

        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        color:#4E5155;
      }

      .counterPrice {
        // background-color:yellow;
        flex:2.5;
        
        .wrapper {
          // background-color: grey;
          display: flex;

          .remove {
            height: 27px;
            width:28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:#CE4F4B;
            border: none;
            border-radius: 4px;
            font-size: 14px;
          }

          .inputPrice {
            padding: 1px 2px 1px 2px;
            font-family: Montserrat;
            font-size: 14;
            font-weight: normal;
            width: 194px;
            text-align: center;
            ::-webkit-input-placeholder {
              text-align: center;
            }

            :-moz-placeholder {
              text-align: center;
            }
          }

          .add {
            height: 27px;
            width:28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:#02B371;
            border: none;
            border-radius: 4px;
            font-size: 14px;
          }
          
        }
      }
    }

    .price {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      // background-color: pink;

      span {
        flex:1;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        color:#4E5155;
        // background-color: greenyellow;
      }

      .pricePayment {
        flex:1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin-bottom: 0.50rem;

        .discount {
          // background-color:pink;
          position: relative;
          margin-bottom: 5px;
          // text-decoration:line-through;

          &::before{
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            right: 0;
            border-top: 1px solid;
            border-color: #CE4F4B;
            background-color: #CE4F4B;
            
            -webkit-transform:rotate(-5deg);
            -moz-transform:rotate(-5deg);
            -ms-transform:rotate(-5deg);
            -o-transform:rotate(-5deg);
            transform:rotate(-5deg);
          }

          span {
            flex:1;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            color:#4E5155;
          }
        }
      }

    }

    .total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;

      span {
        // flex:1;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        color:#4E5155;
      }

      h4 {
        // flex:1;
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 500;
        color:#4E5155;
      }
    }
  }

  .footerPayment {
    display: flex;
    flex-direction: column;
    span {
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 500;
      color:#4E5155;
    }

    .radio {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      color:#4E5155;
    }

  }
  .buttonPayment {
    margin-top: 1rem;
    width: 100%;
    
    
    .pay {
      width: 100%;
      background-color: #02bc77;
      border:none;
      color: #fff;
      border-radius: 4px;
      height: 38px;
      
      font-size: 14px;
      font-family: Montserrat;
      font-weight: normal;
    }
  }
}
